<!doctype html>
<html>
  <head>
    <title>Tipsy</title>

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles/stylesheet.css">

  </head>
  <title>Tipsy</title>
  <body>
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">!</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#"></a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
    </ul>
  </div>
</nav>


    <!-- <div class="container-fluid"> -->
    <div class="form-row text-center">
      <div class='col-12'>
          <p>Choose your <b>tip pool type</b>:</p>
            <a href="http://localhost:4000/page">
              <input type="submit" class="btn btn-outline-success btn-lg" name="split type" value="regular">
            </a>
            <a href="http://localhost:4000/page2">
              <input type="submit" class="btn btn-outline-warning btn-lg" name="split type" value="split day">
            </a>
            <a href="http://localhost:4000/page3">
              <input type="submit" class="btn btn-outline-danger btn-lg" name="split type" value="point system">
            </a>
        </div>

  </body>
</html>
