<!doctype html>
<html>
  <head>
    <title>Tipsy</title>

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles/stylesheet.css">

  </head>
  <title>Tipsy</title>
  <body>
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">!</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#"></a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
    </ul>
  </div>
</nav>


    <!-- <div class="container-fluid"> -->
    <body>
        <div class="container">
          <h1>Please login</h1>
          <br>
          <form action="" method="post">
            <input type="text" placeholder="Username" name="username" value="username">
             <input type="password" placeholder="Password" name="password" value="password">
            <!-- <input class="btn btn-default" type="submit" value="Login"> -->
            <input type="submit" class="btn btn-outline-danger btn-lg" name="login" value="login">
          </form>

        </div>
      </body>

  </body>
</html>
