<!doctype html>
<html>
  <head>
    <title>Tipsy</title>
  </head>
  <body>
    <p>COMING SOON!<p>

      <img src="../static/images/tenor.gif" alt="This is my animated image" height="500" width="500">
        <!-- <form action="http://localhost:4000/result" method="POST">
          <p>Names <input type="text" name="names" /></p>
          <p>New_times <input type="text" name="times" /></p>
          <p>Monies <input type="text" name="monies" /></p>
          <p>Sold <input type="number" name="sold" /></p>
          <p>Support <input type="number" name="support" /></p>
          <p>Food_sales <input type="number" name="food_sales" /></p>

          <p><input type="submit" value="submit" /></p>
        </form> -->

  </body>
</html>
