<!doctype html>
<html>
  <head>
    <title>Tipsy</title>
  </head>
  <body>
    <p>Enter the information below. Each input should be separated by a comma.<p>

    <form action="http://localhost:4000/result" method="POST">
      <p>Date (example: Aug 23 19):  <input type="text" name="date" /></p>
      <p>Employee Names:  <input type="text" name="names" /></p>
      <p>Hours worked:  <input type="text" name="times" /></p>
      <p>Tips made by each employee:  <input type="text" name="monies" /></p>
      <p>Total Sales for the day:  <input type="number" name="sold" /></p>
      <p>Number of support staff working:  <input type="number" name="support" /></p>
      <p>Total Food Sales:  <input type="number" name="food_sales" /></p>

      <p><input type="submit" value="submit" /></p>
    </form>

  </body>
</html>
