body {
 background-image: url("../images/bar.png");
}

p {
  font-size: 200%;
  color: #FDFAF9;
  text-align: center
}

a {
  text-align: center;
}

h1 {
  color: white;
  text-align: center;
}

br{
  text-align: center;
}
